header.header
    .container
        .header__block
            h1.header__block-title Simple admin panel landing page

            a.header__block-link(target='_blank' href='/admin/') Перейти к админке
