section.questions
    h2.section-title.questions-title Остались вопросы?
    .questions-content

        img.questions-image(src='img/questions/thinking-man.png' alt='мужик задумался')

        .questions-contacts
            .questions-contacts-list
                h4.questions-subtitle Звоните по телефонам:
                .contacts




        form.form.frame-form.questions_form
            .form-title Задайте вопрос
            input(type='hidden', name='form_name', value='Остались вопросы')
            input.form-phone.questions_form-phone(name='phone', placeholder='Впишите телефон', type='tel')
            textarea.form-message.questions_form-message(name='message', placeholder='Впишите сообщение')
            button(type='submit').form-btn.questions_form-btn ОТПРАВИТЬ




