.top-bar
    .top-bar-content
        img.main-logo.top-bar-logo(src='', alt='логотип компании')

        .top-bar__contact

        form.top-bar_form
            input(type='hidden', name='form_name', value='Заказать звонок (топ бар)')
            input.form-phone.top-bar_form-phone(type='tel', name='phone', placeholder='Впишите телефон')
            button(type='submit').form-btn.top-bar_form-btn ЗАКАЗАТЬ ЗВОНОК
