-companyName = 'Тест';
-companySite = 'test.by';

doctype html
html(lang='ru-RU')
    head
        meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='title', content='Политика конфиденциальности')
        meta(name='description', content='Политика конфиденциальности')
        meta(name='generator', content='2018.1.0.386')
        title Политика конфиденциальности
        style.
            .confpolicy{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;max-width:900px;font-size:18px;line-height:1.5;margin-left:auto;margin-right:auto}.confpolicy-link{margin-bottom:20px;font-size:24px}.confpolicy-title{margin:30px 0 15px;font-size:24px;line-height:1.3}p{margin:10px 0}a{color:#000b79}ul{margin:5px 0}



    body
        section.confpolicy
            .confpolicy-link
                a(href='/index.html') Назад
            p Настоящая Политика Конфиденциальности действует в отношении информации, которую вы, как пользователи, предоставляете во время использования сайта «#{companyName}», расположенному на доменном имени https://#{companySite}/

            h4.confpolicy-title 1. Какую информацию мы собираем
            p Оставляя заявку на сайте «#{companyName}», вы, в зависимости от цели обращения (получение бесплатной консультации, обратный звонок, сообщение в форме обратной связи), предоставляете нам следующие персональные данные:
            ul
                li Имя.
                li E-mail.
                li Телефон.
            p Также мы получаем данные о вашем IP-адресе, типе браузера, времени нахождения на сайте и другие сведения, предоставляемые сервисом статистики Яндекс.Метрика.
            p Предоставляя контактную информацию, убедитесь в её правильности и корректности. Если вы оставляете чужие персональные данные, то сперва получите разрешение от соответствующих лиц.

            h4.confpolicy-title 2. Как мы используем информацию
            p Все полученные данные мы используем исключительно для связи с вами и решения ваших вопросов.
            ul
                li Имя — используется для обращения к вам.
                li E-mail — используется для ответа по электронной почте.
                li Телефон — используется для звонка.

            h4.confpolicy-title 3. Как мы защищаем персональную информацию
            p Мы обязуемся не разглашать персональные сведения, полученные от вас. Вся информация хранится в базе данных на сервере и нашем локальном компьютере. Доступы к серверу и компьютеру надёжно защищены паролями.

            h4.confpolicy-title 4. Предоставление информации третьим лицам
            p Мы гарантируем, что полученная от вас информация не будет передаваться третьим лицам, за исключением следующих случаев:
            ul
                li В соответствии с обоснованными требованиями законодательства.
                li Для исполнения всех обязательств перед вами — но только с вашего разрешения.

            h4.confpolicy-title 5. Как с нами связаться
            p Если у вас возникнут какие-то вопросы, связанные с сохранностью ваших персональных данных или связанные с работой сайта, обращайтесь к нам:
            ul
                li#confpolicy-phone
            p С уважением, «#{companyName}»
            p Настоящая редакция политики конфиденциальности опубликована 14.11.2018


        script.
            var prefixURL = Math.floor(Math.random() * 1000) + 1;
            var baseURL = '../admin/api/database.json?' + prefixURL;
            var confpolicyPhone = document.querySelector('#confpolicy-phone');

            var getData = function getData(url, callback) {
                var reject = arguments.length > 2 && arguments[2] !== undefined ? arguments[2] : console.error;
                var request = new XMLHttpRequest();
                request.open('GET', url);
                request.addEventListener('readystatechange', function () {
                    if (request.readyState !== 4) return;

                    if (request.status === 200) {
                        callback(request.response);
                    } else {
                        reject(request.status);
                    }
                });
                request.send();
            };

            getData(baseURL, function (data) {
                data = JSON.parse(data);
                confpolicyPhone.innerHTML = 'Телефон: ' + data.contacts[0].num;
            });

