footer.footer
    .footer-content
        img.main-logo.footer-logo(src, alt='логотип компании')

        .footer_contacts

            a.footer_contacts-conf(href='/conf-policy.html') Политика
                br
                |&#32; конфиденциальности


        +operatorsSprite
